.form_box {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}

input{
    display: block;
    width: 100%;
    height: 3.65rem;
    border: none;
    border-bottom: 3px solid #c8b2b2;
    font-size: 2rem;
}

input:focus {
    outline: none;
}

input:active, input:focus {
    border-bottom: 3px solid  #1d833f;
}

.input_div:first-child{
    margin-top: 20px;
}

.input_div{
    margin-bottom: 1.5rem;
}

label{
    color: #b9a2a2;
}

.btn-flat.teal{
    clear: both;
    float: right;
    background-color: #1d833f;
    border: none;
    color: white;
}

.btn-flat{
    padding: 0.5rem 1.9rem;
    cursor: pointer;
}

.btn-flat:focus {
  outline: none;
}

.btn-flat.red{
    text-decoration: none;
    background-color: red;
    color: white;
}

.btn-flat.teal > i{
margin-left: 0.75rem;
}

.red-text{
color: red;
font-size: 14px;
}